@use "../abstract" as *;

.bg-yellow {
  background-color: var(--clr-yellows-500);
}

.bg-green {
  background-color: var(--clr-greens-500);
}

.bg-dark {
  background-color: var(--clr-neutral-500);
}
