@use "../tools" as *;

.l-main {
  display: flex;
  flex-direction: column;

  &__intro {
    display: grid;
    text-align: center;
    min-height: 100vh;
  }

  &__slider {
    background-image: url("/src/image/01.webp");
    background-position: center;
    background-size: cover;
    min-height: 30vh;
  }

  &__about,
  &__profile {
    display: grid;
  }

  &__profile {
    gap: 1.5rem;
  }

  &__avatar {
    border-radius: 50%;
    max-width: 60%;
    justify-self: center;
    overflow: hidden;
  }

  &__tabs {
    display: flex;
    justify-content: space-around;
  }

  &__title,
  &__name {
    letter-spacing: 0.125em;
  }

  &__subtitle {
    letter-spacing: 0.25em;

    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 2px;
      margin: 20px auto;
      background-color: var(--clr-light-200);
    }
  }

  &__name {
    text-align: center;
  }

  &__title,
  &__subtitle {
    text-align: center;
    text-transform: uppercase;
  }

  &__title,
  &__subtitle,
  &__paragraph {
    margin: 1.5rem 0;
  }

  &__paragraph {
    hyphens: auto;
    overflow-wrap: break-word;
    text-align: justify;
  }
}

.align-center {
  align-self: center;
}

.c-button {
  margin-bottom: 1.5rem;
}
